<body class="animated fadeInRight"id="main">
  <h1 class="team_title"><%= @team.name %></h1>
  <div class="row fullWidth everything">
    <div class="small-11 medium-11 large-10 small-centered medium-centered columns content">
      <ul class="tabs" data-tab>
        <li class="tab-title active tab1"><a href="#panel1">Roster <img src="/images/champion.png"/></a></li>
        <li class="tab-title tab1a"><a href="#panel1a">Match History </a></li>
        <li class="tab-title tab2"><a href="#panel2">Gold Share <img src="/images/gold.png"/></a></li>
        <li class="tab-title tab3"><a href="#panel3">Damages <img src="/images/score.png"/></a></li>
        <li class="tab-title tab4"><a href="#panel4">CS <img src="/images/minion.png"/></a></li>
        <li class="tab-title tab5"><a href="#panel5">Vision <img src="/images/ward.png"/></a></li>

      </ul>
      <div class="tabs-content">

        <div class="content active" id="panel1">
          <ul class="roster_list">
          <% @team.summoners.each do |s| %>
          <div class="row">
            <li class="panel roster_panel">
                <% stats = s.rosters.find_by(team: @team) %>
                <div class="small-4 summ_name columns"><%= s.name %> </div>
                <div class="small-2 kda columns">
                  <% kda = ((stats.kills + stats.assists)/stats.deaths.to_f).round(1) %>
                  <% if kda.nan? %>
                    N/A
                  <% else %>
                    <%= kda %> KDA
                  <% end %>
                </div>
                <div class="small-2 columns kp">
                  <% if stats.kill_part == 0 %>
                    N/A
                  <% else %>
                    <%= stats.kill_part %>% KP
                  <% end %>
                </div>

                <div class="small-4 columns join_date">Member since: <%= stats.joindate.strftime("%B-%d-%Y") %></div>
            </li>
          </div>
          <% end %>
          </ul>
        </div>

        <div class="content" id="panel1a">
          Match History coming soon!
        </div>

        <div class="content" id="panel2">
          <div class="row">
            <div class="small-11 columns" id="gold" style="width:100%; height:600px;"></div>
          </div>
        </div>

        <div class="content" id="panel3">
          <div class="row">
            <div class="small-11 columns" id="damages" style="width:100%; height:600px;"></div>
          </div>
        </div>

        <div class="content" id="panel4">

          <ul class="tabs" data-tab>
            <li class="tab-title tab1a active"><a href="#panel1a">Totals</a></li>
            <li class="tab-title tab2a"><a href="#panel2a">CS@10</a></li>
          </ul>

          <div class="tabs-content">

            <div class="content active" id="panel1a">
              <div class="row">
                <div class="small-11 columns" id="cs" style="width:100%; height:600px;"></div>
              </div>
            </div>

            <div class="content" id="panel2a">
              <div class="row">
                <div class="small-11 columns" id="cs_diff" style="width:100%; height:600px;"></div>
              </div>
            </div>

          </div>
        </div>


        <div class="content" id="panel5">
          <div class="row">
            <div class="small-11 columns" id="vision" style="width:100%; height:600px;"></div>
          </div>
        </div>

      </div>
    </div>
  </div>


</body>
<footer class="back-button">
  <a href="/">New Summoner <img src="/images/EkkoR.png"/></a>
</footer>
