<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">$(function(){ $(document).foundation(); });</script>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%- flash.each do |key, value| -%>
      <% if flash[:success].nil? %>
        <div data-alert class="alert-box alert">
          <div class="flash flash-<%= key %>">
            <%= value %>
          </div>
        </div>
      <% else %>
      <div data-alert class="alert-box success">
        <div class="flash flash-<%= key %>">
          <%= value %>
        </div>
      </div>
    <% end %>
  <%- end -%>

    <%= yield %>

  </body>
</html>
